<!-- 
# Programmer Name : TAN ZE KAI - TP 061463
# Program Name : reset_password.html
# Description : 
# '''
# This is reset password HTML file where user
# enter new password to renew password
# ''' 
# First Written Date : 7th April 2023
# Last Modified Date : 11th April 2023 
-->

<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <head>
        <title>Forget Password</title>
    </head>
    <body>
        <section class="vh-100 gradient-custom">
            <div class="mb-md-5 mt-md-4 pb-5">
                <div class="row d-flex justify-content-center align-items-center h-100">                    
                    <div class="card border-0 shadow-lg">
                        <div class="card-body p-5">                            
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                        {% endwith %}
                        <form action="{{url_for('reset_password')}}" method="POST">
                            <h3 class="text-center mb-4">Please Insert New Password</h3>
                        
                            <div class="form-group">
                                <label for="new_password">Enter New Password</label>
                                <input type="password" class="form-control" name="new_pass" id="new_password" placeholder="XXXXXXXXXXX">
                            </div>
                            <div class="form-group">
                                <label for="re_new_password">Re-Enter New Password</label>
                                <input type="password" class="form-control" name="re_new_pass" id="re_new_password" placeholder="XXXXXXXXXXX">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>  
</html>
